@model IEnumerable<TourBook_V9.Models.CreateEvent>

@{
    ViewBag.Title = "Search";
}
@Html.AntiForgeryToken()

<style>

    .nav-item > .nav-link {
        color: black !important;
    }

    .logo {
        color: #000 !important;
        font-weight: 600 !important;
    }

    .content-banner .first-title {
        font-size: 30px !important;
    }

    }

    .header {
        position: relative;
        width: 100%;
    }

    .header-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: white;
    }

    .logo {
        color: #ffffff;
    }

    .nav-item .nav-link {
        display: block;
        line-height: 36px;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        color: hsl(0, 88%, 67%);
        transition: 0.15s;
    }

        .nav-item .nav-link:hover {
            color: #094b2a;
        }

    .header-btn {
        color: white;
        border-radius: 30px;
        background-color: gray;
        border: none;
        font-weight: 500;
        outline: none;
        font-size: 15px;
        padding: 7px 22px;
        transition: 0.5s;
    }

        .header-btn:hover {
            background-color: #fe4066;
            cursor: pointer;
        }

    .navbar-scroll {
        background-color: #ffffff;
        padding: 0;
        position: fixed;
        top: 0;
        z-index: 99;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
        transition-duration: 0.6s;
    }

        .navbar-scroll .nav-item .nav-link {
            color: black;
        }

        .navbar-scroll .header-btn {
            color: #0c0b0b;
            background-color: #fe4066;
        }

        .navbar-scroll .logo {
            color: #000;
            font-weight: 500;
        }

    .first-title {
        text-transform: capitalize;
    }

    section {
        background-color: white;
        padding: 4rem 0rem 4rem;
    }

        section:nth-of-type(even) {
            background-color: #fe4066;
            color: white;
        }
</style>



<meta charset="utf-8" />
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous" />

<!--fontawesome-->
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous" />

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap"
      rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
    $(function () {
        var navbar = $(".header-inner");
        $(window).scroll(function () {
            if ($(window).scrollTop() <= 40) {
                navbar.removeClass("navbar-scroll");
            } else {
                navbar.addClass("navbar-scroll");
            }
        });
    });
</script>

<!-- header , CSS, Jscripts for navigation ends-->
<!-- navbar html starts-->
<body style=" background-image: url('../../img/img7.jpg'); opacity:1" class="img-fluid">

    <div class="img-fluid">


        <header class="header" style="margin-bottom:120px">
            <div class="header-inner">
                <div class="container-fluid px-lg-5">
                    <nav class="navbar navbar-expand-lg my-navbar">
                        <a class="navbar-brand" href="#">
                            <span class="logo">
                                <img src=""
                                     class="img-fluid"
                                     style="width: 30px; margin: -3px 0px 0px 0px" />Tour Book
                            </span>
                        </a>
                        <button class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars" style="margin: 5px 0px 0px 0px"></i>
                            </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                @*<li class="nav-item active">
                                        <a class="nav-link" href="#"> Friends <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Events</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Event History</a>
                                    </li>*@
                                <!--
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       href="#"
                                       id="navbarDropdown"
                                       role="button"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        Pricing
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                                    -->
                                <li class="nav-item">
                                    <a class="nav-link" href="#"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"></a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <button class="header-btn my-2 my-sm-0" type="submit">
                                    Logout
                                </button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <h2 style="margin-top:-50px">Search</h2>

        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@

        <div>
            <a href="@Url.Action("Create","Event")" class="btn btn-outline-success">Create Event</a>
        </div>

        <table class="table" ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start_from)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Place)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Days)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.total_member)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventCreator)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start_from)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Days)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total_member)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventCreator)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                        </td>*@
                </tr>
            }

        </table>

    </div>

</body>